:root {
    --xl: 1200px;
    --lg: 992px;
    --md: 720px;
    --sm: 576px;
    --board-bg: white;
}

#board .canvas {
    display: grid;
    gap: 0px;
    height: 100%;
    width: 100%;
    outline: 1px solid var(--board-bg);
}

.row {
    width: 100%;
    display: flex;
}