* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --snake-head-rad: 0%;
}

html, body {
    background-color: rgb(20, 20, 70);
    max-height: 100%;
    overflow-y: hidden;
    position: static;
}

#app {
    position: relative;
    width: 100%;
    height: 100vh;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#canvas {
    display: none;
}
#canvas.ready {
    display: grid;
}

.board {
    display: grid;
    gap: 0px;
    max-height: 600px;
    max-width: 600px;
    box-shadow: rgb(0, 0, 0, 0.2) 2rem 2rem 4rem, rgb(0, 0, 0, 0.2) -2rem -2rem 4rem;
}

.row {
    width: 100%;
    display: flex;
}

.cell {
    width: 100%;
    height: 100%;
    background-color: rgb(10, 10, 35);
    /* border: 1px solid rgb(150, 150, 250, 0.5); */
}

.snake-cell {
    background-color: lightgoldenrodyellow;
    /* border: 1px solid lightgoldenrodyellow; */
}

.snake-cell.snake-head {
    /* background-color: lightgray; */
}

/* Snake Directions */
.snake-cell.snake-head.right {
    border-top-right-radius: var(--snake-head-rad);
    border-bottom-right-radius: var(--snake-head-rad);
}
.snake-cell.snake-head.down {
    border-bottom-right-radius: var(--snake-head-rad);
    border-bottom-left-radius: var(--snake-head-rad);
}
.snake-cell.snake-head.left {
    border-top-left-radius: var(--snake-head-rad);
    border-bottom-left-radius: var(--snake-head-rad);
}
.snake-cell.snake-head.up {
    border-top-left-radius: var(--snake-head-rad);
    border-top-right-radius: var(--snake-head-rad);
}

.food-cell {
    background-color: darkred;
}